---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import miyus_fall_landscape from '../assets/miyus_fall_landscape.jpg';
import { ImageUploader } from '../components/imageUploader';

function onImageload(ev) {
    console.log('Image loaded');
    console.log(ev);
    return 'asd';
}
---

<style>
    #Gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
        gap: 1rem;
        padding-top: 3rem;
        align-items: center;
    }
</style>

<Layout title="Wedding Photos">
    <div class="md:w-[90%] mx-auto">
        <figure>
            <Image src={miyus_fall_landscape} alt="Mia at the park sitting on fall leaves" class="w-full" />
        </figure>

        <p class="text-center text-lg pt-4">Thank you so much for coming to our wedding and making the day so wonderful! </p>
        <p class="text-center text-lg pt-2"> Please share your favorite pictures from the event 😊</p>

        <ImageUploader client:load />

        <h2 class="text-center pt-6 underline text-3xl">Gallery</h2>

        <div id="Gallery">
            <Image src={'https://utfs.io/f/9av307E0NYoeAt87y9H3Kuc1FCYidwJRUqHolevG8BQjkyWM'} alt="miyus" width="200" height="200" />
        </div>
    </div>
</Layout>
