---
import { Image } from 'astro:assets';
import header_flower from '../assets/header_flower.png';
import separator from '../assets/separator.png';
import Logo from '../components/Logo.astro';
---

<div class="pb-3">
    <nav class="flex flex-wrap justify-between items-center">
        <a href="/" class="no-underline">
            <Logo />
        </a>
        <Image src={header_flower} alt="Flower image" class="aspect-square w-20 scale-x-[-1] scale-y-[-1]" />
    </nav>
    <Image src={separator} alt="Separator image" />
</div>
