<div>
    <h1 class="libre-baskerville-regular text-3xl md:text-6xl"
        >Bruno <span class="qwitcher-grypen-regular text-[--orange-light] text-5xl pr-2 md:text-8xl">and</span> Grace</h1
    >
</div>
